In [1]:
## TO DO NEXT:
# complete visualising step

# Error handling: how to know if file has changed or is missing columns
# When importing, save archived copies
# Do a check where for each table summary stats are created. i.e. average, min/max etc.
# Compare these across archives

#############################################################

# Section: Libraries

#############################################################

import pandas as pd # Data Analysis Library
import matplotlib.pyplot as plt # Data Visualisation Library
import matplotlib.ticker as ticker
%matplotlib inline

import seaborn as sns # Data Visualisation Library
import requests # For downloading 
import datetime
import re # Regex

import pickle # for saving/loading files

pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
#############################################################

# Section: Functions

#############################################################

# pickle_save: save the files after importing and reading them
def pickle_save(name, to_save):
    with open('./Data/' + name + '.pickle', 'wb') as handle:
        pickle.dump(to_save, handle, protocol=pickle.HIGHEST_PROTOCOL)
# picle_load: load previously saved files
def pickle_load(name):
    with open('./Data/' + name + '.pickle', 'rb') as handle:
        load_data = pickle.load(handle)
    return load_data

# match: search each string element within a list ('list_search') in a string ('in_string') and  
# return the match. Used to define the type of variable within the ABS Lending Indicator datasets.
def match(list_search, in_string):
    # need to add restrictions on input types to list + string
    result = [f for f in list_search if re.search(f, desclist)] 
    return(result)

In [3]:
#############################################################

# Section: Import external files

#############################################################

# file_dict: contains the external files to be downloaded. 
    # dl_name: filename
    # dl_source: website the file is sourced from
    # series: ID for columns to be extracted
    # row_drop: the rows to filter out of the file
    # dl_url: location of the file
    # sheet_name: name of the excel sheet to download
    # filetype: type of file to be downloaded
    # ID_row: row contains the unique IDs (series)
    # publication_row: row that contains the latest date
    # skiprow: the number of rows to skip when reading the file
    
file_dict = {}  
file_dict = {
    
    'RBA' : {
        'Credit Card Data - Australia' : {
            'Metadata' : {
                'dl_name': 'c01-2-hist',
                'series': ['CCCCSNAP', 'CCCCSBAIP', 'CCCCSBTP', 'CCCCSCLP', 'CCCCSTTVP']
            }

        }
    },
    'ABS' : {
        'Household Finance - Total' : {
            'Metadata' : {
                'dl_name': '560101',
                'series':  ['A108295286C','A108299115J','A108276981A','A108299885C','A108271213V','A108294614K']
            }
        },
        'Household Finance - Total by Lender' : {
            'Metadata' : {
                'dl_name': '560102',
                'series':  ['A108286039A','A108312356A','A108286046X','A108276379K','A108312352T','A108285311J',
                            'A108272326J','A108312354W','A108267776W']
            }
        },
        'Household Finance - Owner Occupied by Purpose' : {            
            'Metadata' : {
                'dl_name': '560103',
                'series':  ['A108299116K','A108284976J','A108280580R','A108299018F','A108298969V','A108294237R',
                            'A108294069R','A108280461X','A108299115J','A108284975F','A108280579F','A108299017C',
                            'A108298968T','A108294236L','A108294068L','A108280460W']
            }
        },
        'Household Finance - Owner Occupied by State' : {            
            'Metadata' : {
                'dl_name': '560104',
                'series':  ['A108299116K','A108271760F','A108289778K','A108267070V','A108299074X','A108299088L',
                            'A108280692J','A108299109L','A108285277R','A108299115J','A108271759W','A108289777J',
                            'A108267069K','A108299073W','A108299087K','A108280691F','A108299108K','A108285276L']
            }
        },
        'Household Finance - Owner Occupied - NSW' : {            
            'Metadata' : {
                'dl_name': '560105',
                'series':  ['A108271760F','A108271403J','A108294300V','A108271662A','A108271578K','A108276100R',
                            'A108289421V','A108284899R','A108271759W','A108271402F','A108294299W','A108271661X',
                            'A108271577J','A108276099T','A108289420T','A108284898L']
            }
        },
        'Household Finance - Owner Occupied - VIC' : {            
            'Metadata' : {
                'dl_name': '560106',
                'series':  ['A108289778K','A108284955W','A108271501L','A108276240T','A108271557X','A108276072T',
                            'A108266601A','A108266664K','A108289777J','A108284954V','A108271500K','A108276239J',
                            'A108271556W','A108276071R','A108266600X','A108266663J']
            }
        },
        'Household Finance - Owner Occupied - QLD' : {         
            'Metadata' : {
                'dl_name': '560107',
                'series':  ['A108267070V','A108284948X','A108266825L','A108271641R','A108266888W','A108294223A',
                            'A108275911A','A108298752F','A108267069K','A108284947W','A108266824K','A108271640L',
                            'A108266887V','A108294222X','A108275910X','A108298751C']
            }
        },
        'Household Finance - Owner Occupied - SA' : {            
            'Metadata' : {
                'dl_name': '560108',
                'series':  ['A108299074X','A108294139K','A108298871W','A108276212J','A108276149C','A108289533L',
                            'A108298682K','A108298710J','A108299073W','A108294138J','A108298870V','A108276211F',
                            'A108276148A','A108289532K','A108298681J','A108298709X']
            }
        },
        'Household Finance - Owner Occupied - WA' : {
            'Metadata' : {
                'dl_name': '560109',
                'series':  ['A108299088L','A108271368L','A108298885K','A108266923T','A108280601R','A108280510J',
                            'A108289386X','A108284871L','A108299087K','A108271367K','A108298884J','A108266922R',
                            'A108280600L','A108280509X','A108289385W','A108284870K']
            }
        },
        'Household Finance - Owner Occupied - TAS' : {
            'Metadata' : {
                'dl_name': '560110',
                'series':  ['A108280692J','A108298780R','A108266783A','A108271606J','A108298941T','A108280503K',
                            'A108294041L','A108289449W','A108280691F','A108298779F','A108266782X','A108271605F',
                            'A108298940R','A108280502J','A108294040K','A108289448V']
            }
        },
        'Household Finance - Owner Occupied - NT' : {
            'Metadata' : {
                'dl_name': '560111',
                'series':  ['A108299109L','A108276016X','A108280573T','A108280664X','A108271571V','A108276086F',
                            'A108275918T','A108289456V','A108299108K','A108276015W','A108280572R','A108280663W',
                            'A108271570T','A108276085C','A108275917R','A108289455T']
            }
        },
        'Household Finance - Owner Occupied - ACT' : {
            'Metadata' : {
                'dl_name': '560112',
                'series':  ['A108285277R','A108294167V','A108266804A','A108271620C','A108266867K','A108276058W',
                            'A108266587T','A108271312A','A108285276L','A108294166T','A108266803X','A108271619V',
                            'A108266866J','A108276057V','A108266586R','A108271311X']
            }
        },
        'Household Finance - Investor by Purpose' : {
            'Metadata' : {
                'dl_name': '560113',
                'series':  ['A108276982C','A108276723K','A108285662K','A108272187V','A108299536F','A108294839X',
                            'A108299284W','A108289981T','A108276981A','A108276722J','A108285661J','A108272186T',
                            'A108299535C','A108294838W','A108299283V','A108289980R']
            }
        },
        'Household Finance - Investor by State' : {
            'Metadata' : {
                'dl_name': '560114',
                'series':  ['A108276982C','A108290331L','A108299732R','A108272299L','A108272257R','A108267742X',
                            'A108290303C','A108267763K','A108295077J','A108276981A','A108290330K','A108299731L',
                            'A108272298K','A108272256L','A108267741W','A108290302A','A108267762J','A108295076F']
            }
        },
        'Household Finance - Investor - NSW' : {
            'Metadata' : {
                'dl_name': '560115',
                'series':  ['A108290331L','A108280986R','A108285648R','A108299592X','A108272152V','A108281042X',
                            'A108294685V','A108271949K','A108290330K','A108280985L','A108285647L','A108299591W',
                            'A108272151T','A108281041W','A108294684T','A108271948J']
            }
        },  
        'Household Finance - Investor - VIC' : {
            'Metadata' : {
                'dl_name': '560116',
                'series':  ['A108299732R','A108267392K','A108281070J','A108285725J','A108285683W','A108290072F',
                            'A108271893K','A108294748T','A108299731L','A108267391J','A108281069X','A108285724F',
                            'A108285682V','A108290071C','A108271892J','A108294747R']
            }
        },
        'Household Finance - Investor - QLD' : {
            'Metadata' : {
                'dl_name': '560117',
                'series':  ['A108272299L','A108272005V','A108267511R','A108295000K','A108290170K','A108281028C',
                            'A108276541W','A108271942V','A108272298K','A108272004T','A108267510L','A108294999K',
                            'A108290169A','A108281027A','A108276540V','A108271941T']
            }
        },
        'Household Finance - Investor - SA' : {
            'Metadata' : {
                'dl_name': '560118',
                'series':  ['A108272257R','A108267350L','A108285620L','A108294958R','A108276821R','A108294783X',
                            'A108267252J','A108280916J','A108272256L','A108267349C','A108285619C','A108294957L',
                            'A108276820L','A108294782W','A108267251F','A108280915F']
            }
        },
        'Household Finance - Investor - WA' : {
            'Metadata' : {
                'dl_name': '560119',
                'series':  ['A108267742X','A108267364A','A108276758K','A108276877A','A108299508W','A108290044W',
                            'A108289918A','A108280930C','A108267741W','A108267363X','A108276757J','A108276876X',
                            'A108299507V','A108290043V','A108289917X','A108280929V']
            }
        },
        'Household Finance - Investor - TAS' : {
            'Metadata' : {
                'dl_name': '560120',
                'series':  ['A108290303C','A108267357C','A108272068C','A108290198L','A108281119K','A108290037X',
                            'A108271879R','A108276597J','A108290302A','A108267356A','A108272067A','A108290197K',
                            'A108281118J','A108290036W','A108271878L','A108276596F']
            }
        },
        'Household Finance - Investor - NT' : {
            'Metadata' : {
                'dl_name': '560121',
                'series':  ['A108267763K','A108267406L','A108276793T','A108290226K','A108294930L','A108299424L',
                            'A108271900W','A108276639V','A108267762J','A108267405K','A108276792R','A108290225J',
                            'A108294929C','A108299423K','A108271899X','A108276638T']
            }
        },
        'Household Finance - Investor - ACT' : {
            'Metadata' : {
                'dl_name': '560122',
                'series':  ['A108295077J','A108267371X','A108276772F','A108281168F','A108294895T','A108299410X',
                            'A108280874W','A108294713T','A108295076F','A108267370W','A108276771C','A108281167C',
                            'A108294894R','A108299409R','A108280873V','A108294712R']
            }
        },
        'Household Finance - FHB by State' : {
            'Metadata' : {
                'dl_name': '560123',
                'series':  ['A108299886F','A108295203K','A108285956T','A108299851F','A108290415W','A108281343C',
                            'A108272390A','A108281385A','A108285942C','A108299885C','A108295202J','A108285955R',
                            'A108299850C','A108290414V','A108281342A','A108272389T','A108281384X','A108285941A']
            }
        },
        'Household Finance - Owner Occupier - FHB' : {
            'Metadata' : {
                'dl_name': '560124',
                'series':  ['A108271214W','A108271207X','A108298654A','A108298647C','A108298612C','A108280335K',
                            'A108271179A','A108266545V','A108275841F','A108271213V','A108271206W','A108298653X',
                            'A108298646A','A108298611A','A108280334J','A108271178X','A108266544T','A108275840C']
            }
        },
        'Household Finance - Investor - FHB' : {
            'Metadata' : {
                'dl_name': '560125',
                'series':  ['A108294615L','A108289876R','A108280832X','A108294608R','A108271816F','A108276471A',
                            'A108276457F','A108289869T','A108294594L','A108294614K','A108289875L','A108280831W',
                            'A108294607L','A108271815C','A108276470X','A108276456C','A108289868R','A108294593K']
            }
        },
        'Household Finance - Non-Resident' : {
            'Metadata' : {
                'dl_name': '560126',
                'series':  ['A108289120R','A108289119F']
            }
        }
    }
}

for source in file_dict:
    if source == 'RBA':
        for key in file_dict[source]:
            file_dict[source][key]['Metadata']['row_drop'] = ['Description', 'Frequency', 'Type', 'Units', 'Source', 
                                                              'Publication date', 'Series ID']
            file_dict[source][key]['Metadata']['dl_url'] = 'https://www.rba.gov.au/statistics/tables/xls/'
            file_dict[source][key]['Metadata']['sheet_name'] = 'Data'
            file_dict[source][key]['Metadata']['filetype'] = '.xlsx'
            file_dict[source][key]['Metadata']['ID_row'] = 'Series ID'
            file_dict[source][key]['Metadata']['unit_row'] = 'Units'
            file_dict[source][key]['Metadata']['publication_row'] = 'Publication date'
            file_dict[source][key]['Metadata']['skiprow'] = 1

    elif source == 'ABS':
        for key in file_dict[source]:
            file_dict[source][key]['Metadata']['row_drop'] = ['Unit', 'Series Type', 'Data Type', 'Frequency', 
                                                              'Collection Month', 'No. Obs', 'Series Start', 
                                                              'Series End', 'Series ID']
            file_dict[source][key]['Metadata']['dl_url'] = 'https://www.abs.gov.au/statistics/economy/finance/lending-indicators/latest-release/'
            file_dict[source][key]['Metadata']['sheet_name'] = 'Data1'
            file_dict[source][key]['Metadata']['filetype'] = '.xls'
            file_dict[source][key]['Metadata']['ID_row'] = 'Series ID'
            file_dict[source][key]['Metadata']['unit_row'] = 'Unit'
            file_dict[source][key]['Metadata']['publication_row'] = 'Series End'
            file_dict[source][key]['Metadata']['skiprow'] = 0

In [ ]:
# Download all the external files from the file_dict dictionary
for source in file_dict:
    for key in file_dict[source]:
        dl_name = file_dict[source][key]['Metadata']['dl_name'] + file_dict[source][key]['Metadata']['filetype']
        dl_url = file_dict[source][key]['Metadata']['dl_url'] + dl_name
        r = requests.get(dl_url)
        with open("./Input/" + dl_name, 'wb') as f:
                  f.write(r.content)

In [50]:
# External files are imported and cleaned.Each external file is saved into the dictionary 
# ('import_file_dict') with a lookup which details the unique series ID, description and units.

for source in file_dict:
    
    for key in file_dict[source]:   
        
        data_name = file_dict[source][key]['Metadata']['dl_name']
        row_filter = file_dict[source][key]['Metadata']['row_drop']
        series_filter = file_dict[source][key]['Metadata']['series']

        read_path = './Input/' + data_name + file_dict[source][key]['Metadata']['filetype']
        df = pd.read_excel(read_path, sheet_name = file_dict[source][key]['Metadata']['sheet_name'], 
                           skiprows = file_dict[source][key]['Metadata']['skiprow'])
        df = df.rename(columns={ df.columns[0]: 'Title' })

        description = df.columns.values

        series_id_row = df[df['Title'] == 'Series ID'].values.tolist()[0]
        series_id_row[0] = 'Title'

        df.columns = series_id_row

        # Extract Publication Date
        pub_date = df.loc[df['Title'] == file_dict[source][key]['Metadata']['publication_row']].values[0,1]
        if type(pub_date) == datetime.datetime:
            pub_date = pub_date.strftime("%d-%b-%Y")
        print(file_dict[source][key]['Metadata']['dl_name'], 'latest publication date:', pub_date) #loc = index check

        # Transform Data 
        series_id = df[df['Title'] == file_dict[source][key]['Metadata']['ID_row']].values[0] # Series ID values
        units = df[df['Title'] == file_dict[source][key]['Metadata']['unit_row']].values[0] # Unit values
        series_lookup = pd.DataFrame(list(zip(series_id,description,units)), columns=['Series ID','Description','Unit'])
        series_lookup = series_lookup[series_lookup['Series ID'] != 'Series ID'] # Need to save these in the dictionary output
        series_lookup = series_lookup.loc[series_lookup['Series ID'].isin(series_filter), :]

        # select the series_to_filter
        column_filter = series_lookup.loc[:,'Series ID'].values.tolist()
        column_filter.insert(0, 'Title')

        # Drop Rows
        df_fmt = df[~df['Title'].isin(row_filter)]
        df_fmt = df_fmt.dropna(subset=['Title']) # Remove rows in first column with NA

        for i in range(len(units)):

            if source == 'RBA':
                if units[i].strip() == """'000""":
                    df_fmt.iloc[:,i] = df_fmt.iloc[:,i] * 1000
                elif units[i].strip() == '$ million':
                    df_fmt.iloc[:,i] = df_fmt.iloc[:,i] * 1000000
            elif source == 'ABS':
                if units[i].strip() == '$ Millions':
                    df_fmt.iloc[:,i] = df_fmt.iloc[:,i] * 1000000

        # Drop columns
        df_fmt = df_fmt.loc[:,column_filter] # Keep relevant series

        df_fmt = df_fmt.reset_index(drop=True)
        df_fmt = df_fmt.rename(columns={'Title': 'Date'})
        df_fmt = df_fmt.convert_dtypes() # Convert variable types
        
        file_dict[source][key]['Import_Data'] = df_fmt 
        file_dict[source][key]['Lookup'] = series_lookup

c01-2-hist latest publication date: 07-Sep-2021
df:
         Title                                           CCCCSNAP  \
0  Description  Number of personal credit and charge card acco...
1    Frequency                                            Monthly
2         Type                                           Original
3        Units                                               '000
4          NaN                                                NaN

                                            CCCCSNCP  \
0  Number of personal credit and charge cards on ...
1                                            Monthly
2                                           Original
3                                               '000
4                                                NaN

                                          CCCCSTCANP  \
0  Number of personal credit and charge card cash...
1                                            Monthly
2                                           Original
3                                               '000
4                                                NaN

                                          CCCCSTCAVP  \
0  Value of personal credit and charge card cash ...
1                                            Monthly
2                                           Original
3                                          $ million
4                                                NaN

                                           CCCCSTPNP  \
0  Number of personal credit and charge card purc...
1                                            Monthly
2                                           Original
3                                               '000
4                                                NaN

                                           CCCCSTPVP  \
0  Value of personal credit and charge card purch...
1                                            Monthly
2                                           Original
3                                          $ million
4                                                NaN

                                           CCCCSPDNP  \
0  Number of domestic personal credit and charge ...
1                                            Monthly
2                                           Original
3                                               '000
4                                                NaN

                                           CCCCSPDVP  \
0  Value of domestic personal credit and charge c...
1                                            Monthly
2                                           Original
3                                          $ million
4                                                NaN

                                           CCCCSPFNP  ...  \
0  Number of overseas personal credit and charge ...  ...
1                                            Monthly  ...
2                                           Original  ...
3                                               '000  ...
4                                                NaN  ...

                                          CCCCSPFNCO  \
0  Number of overseas commercial credit and charg...
1                                            Monthly
2                                           Original
3                                               '000
4                                                NaN

                                          CCCCSPFVCO  \
0  Value of overseas commercial credit and charge...
1                                            Monthly
2                                           Original
3                                          $ million
4                                                NaN

                                        CCCCSPFDPNCO  \
0  Number of overseas commercial device present c...
1                                            Monthly
2                                           Original
3                                               '000
4                                                NaN

                                        CCCCSPFDPVCO  \
0  Value of overseas commercial device present cr...
1                                            Monthly
2                                           Original
3                                          $ million
4                                                NaN

                                          CCCCSTTNCO  \
0  Total number of commercial credit and charge c...
1                                            Monthly
2                                           Original
3                                               '000
4                                                NaN

                                          CCCCSTTVCO  \
0  Total value of commercial credit and charge ca...
1                                            Monthly
2                                           Original
3                                          $ million
4                                                NaN

                                            CCCCSRCO  \
0  Value of commercial credit and charge card rep...
1                                            Monthly
2                                           Original
3                                          $ million
4                                                NaN

                                          CCCCSBAICO  \
0  Value of commercial credit and charge card bal...
1                                            Monthly
2                                           Original
3                                          $ million
4                                                NaN

                                           CCCCSBTCO  \
0  Value of commercial credit and charge card tot...
1                                            Monthly
2                                           Original
3                                          $ million
4                                                NaN

                                           CCCCSCLCO
0  Value of commercial credit and charge card cre...
1                                            Monthly
2                                           Original
3                                          $ million
4                                                NaN

[5 rows x 37 columns]
df_fmt:
        Date   CCCCSNAP     CCCCSTTVP     CCCCSBAIP      CCCCSBTP  \
0 2002-01-31  9658203.0  8.696924e+09  8.486701e+09  1.931920e+10
1 2002-02-28  9677063.0  8.482042e+09  8.635934e+09  1.971835e+10
2 2002-03-31  9617487.0  8.536180e+09  8.664050e+09  1.959875e+10
3 2002-04-30  9527406.0  9.089885e+09  8.888833e+09  1.960082e+10
4 2002-05-31  9598326.0  9.804595e+09  8.864019e+09  2.004081e+10

       CCCCSCLP
0  5.387871e+10
1  5.419254e+10
2  5.390049e+10
3  5.445817e+10
4  5.511777e+10
560101 latest publication date: 01-Jul-2021
df:
              Title A108295286C A108299115J A108276981A A108299885C  \
0              Unit  $ Millions  $ Millions  $ Millions  $ Millions
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108271213V A108294614K          A108296973X          A108268693J  \
0  $ Millions  $ Millions           $ Millions           $ Millions
1    Original    Original  Seasonally Adjusted  Seasonally Adjusted
2        FLOW        FLOW                 FLOW                 FLOW
3       Month       Month                Month                Month
4           1           1                    1                    1

           A108273775J          A108277457X A108284569X A108292822T  \
0           $ Millions           $ Millions  $ Millions  $ Millions
1  Seasonally Adjusted  Seasonally Adjusted       Trend       Trend
2                 FLOW                 FLOW        FLOW        FLOW
3                Month                Month       Month       Month
4                    1                    1           1           1

  A108284387K A108292360K
0  $ Millions  $ Millions
1       Trend       Trend
2        FLOW        FLOW
3       Month       Month
4           1           1

df_fmt:
        Date   A108295286C   A108299115J   A108276981A  A108299885C  \
0 2002-07-01  1.063820e+10  6.511600e+09  4.126600e+09          NaN
1 2002-08-01  1.030530e+10  6.231200e+09  4.074100e+09          NaN
2 2002-09-01  9.974600e+09  5.971200e+09  4.003400e+09          NaN
3 2002-10-01  1.077650e+10  6.579000e+09  4.197500e+09          NaN
4 2002-11-01  1.074060e+10  6.494600e+09  4.246000e+09          NaN

    A108271213V  A108294614K
0  1.597600e+09          NaN
1  1.456100e+09          NaN
2  1.323800e+09          NaN
3  1.451500e+09          NaN
4  1.371600e+09          NaN
560102 latest publication date: 01-Jul-2021
df:
              Title A108286039A A108312356A A108286046X A108276379K  \
0              Unit  $ Millions  $ Millions  $ Millions  $ Millions
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108312352T A108285311J A108272326J A108312354W A108267776W  ...  \
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  ...
1    Original    Original    Original    Original    Original  ...
2        FLOW        FLOW        FLOW        FLOW        FLOW  ...
3       Month       Month       Month       Month       Month  ...
4           1           1           1           1           1  ...

           A108273761V A108289098F A108313058W A108275532A A108297708C  \
0           $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1  Seasonally Adjusted       Trend       Trend       Trend       Trend
2                 FLOW        FLOW        FLOW        FLOW        FLOW
3                Month       Month       Month       Month       Month
4                    1           1           1           1           1

  A108313054L A108283750X A108270800V A108313056T A108270807K
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1       Trend       Trend       Trend       Trend       Trend
2        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month
4           1           1           1           1           1

[5 rows x 28 columns]
df_fmt:
        Date  A108286039A  A108312356A  A108286046X  A108276379K  A108312352T  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108285311J  A108272326J  A108312354W  A108267776W
0          NaN         <NA>          NaN          NaN
1          NaN         <NA>          NaN          NaN
2          NaN         <NA>          NaN          NaN
3          NaN         <NA>          NaN          NaN
4          NaN         <NA>          NaN          NaN
560103 latest publication date: 01-Jul-2021
df:
              Title A108299116K A108284976J A108280580R A108299018F  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108298969V A108294237R A108294069R A108280461X A108299115J  ...  \
0      Number      Number      Number      Number  $ Millions  ...
1    Original    Original    Original    Original    Original  ...
2        FLOW        FLOW        FLOW        FLOW        FLOW  ...
3       Month       Month       Month       Month       Month  ...
4           1           1           1           1           1  ...

  A108288091W A108269975X A108279152W A108292431J A108292822T A108288090V  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1       Trend       Trend       Trend       Trend       Trend       Trend
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108269974W A108279151V A108292605W A108292430F
0  $ Millions  $ Millions  $ Millions  $ Millions
1       Trend       Trend       Trend       Trend
2        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month
4           1           1           1           1

[5 rows x 37 columns]
df_fmt:
        Date  A108299116K  A108284976J  A108280580R  A108299018F  A108298969V  \
0 2002-07-01         <NA>         3983         1251        27900         <NA>
1 2002-08-01         <NA>         3407         1149        26325         <NA>
2 2002-09-01         <NA>         3055         1136        24828         <NA>
3 2002-10-01         <NA>         3166         1142        27242         <NA>
4 2002-11-01         <NA>         2874         1313        26441         <NA>

   A108294237R  A108294069R  A108280461X   A108299115J  A108284975F  \
0         <NA>        12195         <NA>  6.511600e+09  818400000.0
1         <NA>        11228         <NA>  6.231200e+09  715200000.0
2         <NA>        10516         <NA>  5.971200e+09  635700000.0
3         <NA>        11781         <NA>  6.579000e+09  681100000.0
4         <NA>        11408         <NA>  6.494600e+09  643300000.0

   A108280579F   A108299017C  A108298968T  A108294236L   A108294068L  \
0  242800000.0  4.939900e+09         <NA>  279000000.0  1.851800e+09
1  238200000.0  4.789000e+09         <NA>  274200000.0  1.789300e+09
2  222700000.0  4.614700e+09         <NA>  277700000.0  1.726800e+09
3  221500000.0  5.074100e+09         <NA>  345500000.0  1.888300e+09
4  266200000.0  4.991300e+09         <NA>  351600000.0  1.836400e+09

   A108280460W
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560104 latest publication date: 01-Jul-2021
df:
              Title A108299116K A108271760F A108289778K A108267070V  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108299074X A108299088L A108280692J A108299109L A108285277R  ...  \
0      Number      Number      Number      Number      Number  ...
1    Original    Original    Original    Original    Original  ...
2        FLOW        FLOW        FLOW        FLOW        FLOW  ...
3       Month       Month       Month       Month       Month  ...
4           1           1           1           1           1  ...

           A108277877V A108292822T A108279256R A108279242A A108270205A  \
0           $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1  Seasonally Adjusted       Trend       Trend       Trend       Trend
2                 FLOW        FLOW        FLOW        FLOW        FLOW
3                Month       Month       Month       Month       Month
4                    1           1           1           1           1

  A108279200C A108302370K A108283715T A108283743A A108270191X
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1       Trend       Trend       Trend       Trend       Trend
2        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month
4           1           1           1           1           1

[5 rows x 37 columns]
df_fmt:
        Date  A108299116K  A108271760F  A108289778K  A108267070V  A108299074X  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108299088L  A108280692J  A108299109L  A108285277R   A108299115J  \
0         <NA>         <NA>         <NA>         <NA>  6.511600e+09
1         <NA>         <NA>         <NA>         <NA>  6.231200e+09
2         <NA>         <NA>         <NA>         <NA>  5.971200e+09
3         <NA>         <NA>         <NA>         <NA>  6.579000e+09
4         <NA>         <NA>         <NA>         <NA>  6.494600e+09

    A108271759W   A108289777J   A108267069K  A108299073W  A108299087K  \
0  2.484600e+09  1.505800e+09  1.191600e+09  420800000.0  675800000.0
1  2.375800e+09  1.467200e+09  1.148900e+09  377400000.0  627800000.0
2  2.280200e+09  1.368900e+09  1.137100e+09  362400000.0  599800000.0
3  2.422200e+09  1.510700e+09  1.283400e+09  420500000.0  681300000.0
4  2.389900e+09  1.492400e+09  1.234900e+09  432200000.0  669100000.0

   A108280691F  A108299108K  A108285276L
0   83400000.0   28000000.0  121600000.0
1   88500000.0   31400000.0  114200000.0
2   77600000.0   27800000.0  117300000.0
3   93700000.0   30400000.0  136800000.0
4   96400000.0   38400000.0  141400000.0
560105 latest publication date: 01-Jul-2021
df:
              Title A108271760F A108271403J A108294300V A108271662A  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108271578K A108276100R A108289421V A108284899R A108271759W A108271402F  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108294299W A108271661X A108271577J A108276099T A108289420T A108284898L
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108271760F  A108271403J  A108294300V  A108271662A  A108271578K  \
0 2002-07-01         <NA>          781          388         9219         <NA>
1 2002-08-01         <NA>          684          347         8827         <NA>
2 2002-09-01         <NA>          617          309         8269         <NA>
3 2002-10-01         <NA>          617          313         8596         <NA>
4 2002-11-01         <NA>          586          328         8201         <NA>

   A108276100R  A108289421V  A108284899R   A108271759W  A108271402F  \
0         <NA>         3696         <NA>  2.484600e+09  183700000.0
1         <NA>         3474         <NA>  2.375800e+09  166200000.0
2         <NA>         3291         <NA>  2.280200e+09  145200000.0
3         <NA>         3544         <NA>  2.422200e+09  160800000.0
4         <NA>         3460         <NA>  2.389900e+09  156700000.0

   A108294299W   A108271661X  A108271577J  A108276099T  A108289420T  \
0   91600000.0  2.050000e+09         <NA>  103500000.0  740300000.0
1   91100000.0  1.973300e+09         <NA>   99300000.0  725200000.0
2   74400000.0  1.912800e+09         <NA>  100500000.0  691600000.0
3   76800000.0  1.999600e+09         <NA>  134100000.0  735600000.0
4   89500000.0  1.940700e+09         <NA>  148900000.0  716700000.0

   A108284898L
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560106 latest publication date: 01-Jul-2021
df:
              Title A108289778K A108284955W A108271501L A108276240T  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108271557X A108276072T A108266601A A108266664K A108289777J A108284954V  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108271500K A108276239J A108271556W A108276071R A108266600X A108266663J
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108289778K  A108284955W  A108271501L  A108276240T  A108271557X  \
0 2002-07-01         <NA>         1114          375         5798         <NA>
1 2002-08-01         <NA>          952          318         5643         <NA>
2 2002-09-01         <NA>          872          353         5142         <NA>
3 2002-10-01         <NA>          883          340         5777         <NA>
4 2002-11-01         <NA>          806          418         5631         <NA>

   A108276072T  A108266601A  A108266664K   A108289777J  A108284954V  \
0         <NA>         3286         <NA>  1.505800e+09  240900000.0
1         <NA>         3088         <NA>  1.467200e+09  210400000.0
2         <NA>         2872         <NA>  1.368900e+09  191700000.0
3         <NA>         3245         <NA>  1.510700e+09  196900000.0
4         <NA>         3043         <NA>  1.492400e+09  188900000.0

   A108271500K   A108276239J  A108271556W  A108276071R  A108266600X  \
0   72400000.0  1.046400e+09          NaN   80400000.0  474600000.0
1   62200000.0  1.053300e+09          NaN   77700000.0  464200000.0
2   66000000.0  9.767000e+08          NaN   76000000.0  456800000.0
3   62400000.0  1.086900e+09          NaN   92300000.0  495700000.0
4   81600000.0  1.072600e+09          NaN   84200000.0  473300000.0

   A108266663J
0         <NA>
1         <NA>
2         <NA>
3         <NA>
4         <NA>

560107 latest publication date: 01-Jul-2021
df:
              Title A108267070V A108284948X A108266825L A108271641R  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108266888W A108294223A A108275911A A108298752F A108267069K A108284947W  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108266824K A108271640L A108266887V A108294222X A108275910X A108298751C
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108267070V  A108284948X  A108266825L  A108271641R  A108266888W  \
0 2002-07-01         <NA>          808          231         5784         <NA>
1 2002-08-01         <NA>          706          216         5477         <NA>
2 2002-09-01         <NA>          647          250         5350         <NA>
3 2002-10-01         <NA>          657          234         6040         <NA>
4 2002-11-01         <NA>          581          248         5816         <NA>

   A108294223A  A108275911A  A108298752F   A108267069K  A108284947W  \
0         <NA>         2068         <NA>  1.191600e+09  174400000.0
1         <NA>         1881         <NA>  1.148900e+09  148800000.0
2         <NA>         1766         <NA>  1.137100e+09  136100000.0
3         <NA>         2064         <NA>  1.283400e+09  141000000.0
4         <NA>         2028         <NA>  1.234900e+09  127800000.0

   A108266824K   A108271640L  A108266887V  A108294222X  A108275910X  \
0   38300000.0  8.996000e+08         <NA>   35100000.0  293000000.0
1   39600000.0  8.825000e+08         <NA>   36500000.0  272100000.0
2   45800000.0  8.719000e+08         <NA>   40900000.0  264400000.0
3   41900000.0  1.009200e+09         <NA>   42300000.0  307900000.0
4   45500000.0  9.718000e+08         <NA>   44400000.0  300400000.0

   A108298751C
0         <NA>
1         <NA>
2         <NA>
3         <NA>
4         <NA>
560108 latest publication date: 01-Jul-2021
df:
              Title A108299074X A108294139K A108298871W A108276212J  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108276149C A108289533L A108298682K A108298710J A108299073W A108294138J  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108298870V A108276211F A108276148A A108289532K A108298681J A108298709X
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108299074X  A108294139K  A108298871W  A108276212J  A108276149C  \
0 2002-07-01         <NA>          399          103         2643         <NA>
1 2002-08-01         <NA>          330          109         2161         <NA>
2 2002-09-01         <NA>          299           81         2025         <NA>
3 2002-10-01         <NA>          311           88         2302         <NA>
4 2002-11-01         <NA>          293          107         2313         <NA>

   A108289533L  A108298682K  A108298710J  A108299073W  A108294138J  \
0         <NA>         1260         <NA>  420800000.0   61000000.0
1         <NA>         1081         <NA>  377400000.0   56600000.0
2         <NA>          981         <NA>  362400000.0   49000000.0
3         <NA>         1137         <NA>  420500000.0   54500000.0
4         <NA>         1133         <NA>  432200000.0   52900000.0

   A108298870V  A108276211F  A108276148A  A108289532K  A108298681J  \
0   11800000.0  309100000.0          NaN   21500000.0  118100000.0
1   14200000.0  269200000.0          NaN   23300000.0  114400000.0
2   11600000.0  264500000.0          NaN   22200000.0  109500000.0
3   11900000.0  306000000.0          NaN   31400000.0  122300000.0
4   16600000.0  313700000.0          NaN   31700000.0  123700000.0

   A108298709X
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560109 latest publication date: 01-Jul-2021
df:
              Title A108299088L A108271368L A108298885K A108266923T  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108280601R A108280510J A108289386X A108284871L A108299087K A108271367K  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108298884J A108266922R A108280600L A108280509X A108289385W A108284870K
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108299088L  A108271368L  A108298885K  A108266923T  A108280601R  \
0 2002-07-01         <NA>          739           99         3039         <NA>
1 2002-08-01         <NA>          605           80         2827         <NA>
2 2002-09-01         <NA>          511           84         2741         <NA>
3 2002-10-01         <NA>          570           87         3053         <NA>
4 2002-11-01         <NA>          476           85         3028         <NA>

   A108280510J  A108289386X  A108284871L  A108299087K  A108271367K  \
0         <NA>         1465         <NA>  675800000.0  136200000.0
1         <NA>         1362         <NA>  627800000.0  112600000.0
2         <NA>         1230         <NA>  599800000.0   95700000.0
3         <NA>         1389         <NA>  681300000.0  107400000.0
4         <NA>         1319         <NA>  669100000.0   94600000.0

   A108298884J  A108266922R  A108280600L  A108280509X  A108289385W  \
0   18100000.0  451900000.0          NaN   29100000.0  179500000.0
1   17300000.0  430100000.0          NaN   27000000.0  172000000.0
2   14200000.0  412300000.0          NaN   28000000.0  157600000.0
3   14500000.0  470100000.0          NaN   31300000.0  175900000.0
4   13700000.0  480100000.0          NaN   28900000.0  169600000.0

   A108284870K
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560110 latest publication date: 01-Jul-2021
df:
              Title A108280692J A108298780R A108266783A A108271606J  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108298941T A108280503K A108294041L A108289449W A108280691F A108298779F  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108266782X A108271605F A108298940R A108280502J A108294040K A108289448V
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

df_fmt:
        Date  A108280692J  A108298780R  A108266783A  A108271606J  A108298941T  \
0 2002-07-01         <NA>           81           10          686         <NA>
1 2002-08-01         <NA>           71           28          727         <NA>
2 2002-09-01         <NA>           63           16          607         <NA>
3 2002-10-01         <NA>           67           26          738         <NA>
4 2002-11-01         <NA>           74           84          682         <NA>

   A108280503K  A108294041L  A108289449W  A108280691F  A108298779F  \
0         <NA>          216         <NA>   83400000.0   10300000.0
1         <NA>          170         <NA>   88500000.0    9100000.0
2         <NA>          198         <NA>   77600000.0    8200000.0
3         <NA>          204         <NA>   93700000.0    8700000.0
4         <NA>          190         <NA>   96400000.0    9500000.0

   A108266782X  A108271605F  A108298940R  A108280502J  A108294040K  \
0    1200000.0   64800000.0          NaN    4400000.0   19000000.0
1    3400000.0   67500000.0          NaN    4300000.0   15100000.0
2    2800000.0   59000000.0          NaN    4500000.0   19100000.0
3    2800000.0   72900000.0          NaN    4600000.0   18300000.0
4    9500000.0   67300000.0          NaN    5100000.0   16200000.0

   A108289448V
0         <NA>
1         <NA>
2         <NA>
3         <NA>
4         <NA>
560111 latest publication date: 01-Jul-2021
df:
              Title A108299109L A108276016X A108280573T A108280664X  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108271571V A108276086F A108275918T A108289456V A108299108K A108276015W  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108280572R A108280663W A108271570T A108276085C A108275917R A108289455T
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108299109L  A108276016X  A108280573T  A108280664X  A108271571V  \
0 2002-07-01         <NA>           18           14          185         <NA>
1 2002-08-01         <NA>           20           22          163         <NA>
2 2002-09-01         <NA>           13           12          155         <NA>
3 2002-10-01         <NA>           11           11          174         <NA>
4 2002-11-01         <NA>           15           10          191         <NA>

   A108276086F  A108275918T  A108289456V  A108299108K  A108276015W  \
0         <NA>           79         <NA>   28000000.0    3200000.0
1         <NA>           48         <NA>   31400000.0    2600000.0
2         <NA>           54         <NA>   27800000.0    2900000.0
3         <NA>           39         <NA>   30400000.0    1900000.0
4         <NA>           69         <NA>   38400000.0    3000000.0

   A108280572R  A108280663W  A108271570T  A108276085C  A108275917R  \
0    2200000.0   19600000.0         <NA>    1900000.0    7400000.0
1    3400000.0   22000000.0         <NA>    2300000.0    5500000.0
2    1400000.0   20800000.0         <NA>    1800000.0    7200000.0
3    1800000.0   22800000.0         <NA>    2300000.0    4500000.0
4    2300000.0   28400000.0         <NA>    3200000.0    9500000.0

   A108289455T
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560112 latest publication date: 01-Jul-2021
df:
              Title A108285277R A108294167V A108266804A A108271620C  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108266867K A108276058W A108266587T A108271312A A108285276L A108294166T  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108266803X A108271619V A108266866J A108276057V A108266586R A108271311X
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108285277R  A108294167V  A108266804A  A108271620C  A108266867K  \
0 2002-07-01         <NA>           42           31          546         <NA>
1 2002-08-01         <NA>           39           29          499         <NA>
2 2002-09-01         <NA>           32           30          540         <NA>
3 2002-10-01         <NA>           49           41          561         <NA>
4 2002-11-01         <NA>           43           32          580         <NA>

   A108276058W  A108266587T  A108271312A  A108285276L  A108294166T  \
0         <NA>          125         <NA>  121600000.0    8700000.0
1         <NA>          125         <NA>  114200000.0    8800000.0
2         <NA>          124         <NA>  117300000.0    6900000.0
3         <NA>          160         <NA>  136800000.0   10000000.0
4         <NA>          166         <NA>  141400000.0    9900000.0

   A108266803X  A108271619V  A108266866J  A108276057V  A108266586R  \
0    7100000.0   98500000.0          NaN    3200000.0   19800000.0
1    7100000.0   91200000.0          NaN    3700000.0   20800000.0
2    6500000.0   96700000.0          NaN    3800000.0   20600000.0
3    9400000.0  106800000.0          NaN    7200000.0   28100000.0
4    7500000.0  116700000.0          NaN    5400000.0   26900000.0

   A108271311X
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560113 latest publication date: 01-Jul-2021
df:
              Title A108276982C A108276723K A108285662K A108272187V  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108299536F A108294839X A108299284W A108289981T A108276981A  ...  \
0      Number      Number      Number      Number  $ Millions  ...
1    Original    Original    Original    Original    Original  ...
2        FLOW        FLOW        FLOW        FLOW        FLOW  ...
3       Month       Month       Month       Month       Month  ...
4           1           1           1           1           1  ...

  A108285661J A108272186T A108299535C A108294838W A108299283V A108289980R  \
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

           A108273775J          A108291366F A108284387K A108297869T
0           $ Millions           $ Millions  $ Millions  $ Millions
1  Seasonally Adjusted  Seasonally Adjusted       Trend       Trend
2                 FLOW                 FLOW        FLOW        FLOW
3                Month                Month       Month       Month
4                    1                    1           1           1

[5 rows x 21 columns]
df_fmt:
        Date  A108276982C  A108276723K  A108285662K  A108272187V  A108299536F  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108294839X  A108299284W  A108289981T   A108276981A  A108276722J  \
0         <NA>         <NA>         <NA>  4.126600e+09          NaN
1         <NA>         <NA>         <NA>  4.074100e+09          NaN
2         <NA>         <NA>         <NA>  4.003400e+09          NaN
3         <NA>         <NA>         <NA>  4.197500e+09          NaN
4         <NA>         <NA>         <NA>  4.246000e+09          NaN

   A108285661J  A108272186T  A108299535C  A108294838W  A108299283V  \
0          NaN          NaN         <NA>          NaN  423200000.0
1          NaN          NaN         <NA>          NaN  406800000.0
2          NaN          NaN         <NA>          NaN  337100000.0
3          NaN          NaN         <NA>          NaN  480700000.0
4          NaN          NaN         <NA>          NaN  465500000.0

   A108289980R
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560114 latest publication date: 01-Jul-2021
df:
              Title A108276982C A108290331L A108299732R A108272299L  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108272257R A108267742X A108290303C A108267763K A108295077J  ...  \
0      Number      Number      Number      Number      Number  ...
1    Original    Original    Original    Original    Original  ...
2        FLOW        FLOW        FLOW        FLOW        FLOW  ...
3       Month       Month       Month       Month       Month  ...
4           1           1           1           1           1  ...

           A108269260V A108284387K A108288930X A108298205V A108298198J  \
0           $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1  Seasonally Adjusted       Trend       Trend       Trend       Trend
2                 FLOW        FLOW        FLOW        FLOW        FLOW
3                Month       Month       Month       Month       Month
4                    1           1           1           1           1

  A108293403T A108293417F A108275280T A108279886J A108275301T
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1       Trend       Trend       Trend       Trend       Trend
2        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month
4           1           1           1           1           1

[5 rows x 37 columns]
df_fmt:
        Date  A108276982C  A108290331L  A108299732R  A108272299L  A108272257R  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108267742X  A108290303C  A108267763K  A108295077J   A108276981A  \
0         <NA>         <NA>         <NA>         <NA>  4.126600e+09
1         <NA>         <NA>         <NA>         <NA>  4.074100e+09
2         <NA>         <NA>         <NA>         <NA>  4.003400e+09
3         <NA>         <NA>         <NA>         <NA>  4.197500e+09
4         <NA>         <NA>         <NA>         <NA>  4.246000e+09

    A108290330K  A108299731L  A108272298K  A108272256L  A108267741W  \
0  1.796300e+09  904200000.0  815900000.0  195600000.0  318500000.0
1  1.769100e+09  911200000.0  816000000.0  178500000.0  301600000.0
2  1.735200e+09  872800000.0  841100000.0  177500000.0  267100000.0
3  1.835100e+09  899900000.0  836600000.0  189600000.0  312800000.0
4  1.914000e+09  833600000.0  850400000.0  219600000.0  304700000.0

   A108290302A  A108267762J  A108295076F
0   27600000.0   10100000.0   58400000.0
1   27100000.0   11800000.0   58800000.0
2   30000000.0   11500000.0   68300000.0
3   30000000.0   15400000.0   78200000.0
4   34700000.0   13100000.0   75800000.0

560115 latest publication date: 01-Jul-2021
df:
              Title A108290331L A108280986R A108285648R A108299592X  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108272152V A108281042X A108294685V A108271949K A108290330K A108280985L  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108285647L A108299591W A108272151T A108281041W A108294684T A108271948J
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108290331L  A108280986R  A108285648R  A108299592X  A108272152V  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108281042X  A108294685V  A108271949K   A108290330K  A108280985L  \
0         <NA>         <NA>         <NA>  1.796300e+09         <NA>
1         <NA>         <NA>         <NA>  1.769100e+09         <NA>
2         <NA>         <NA>         <NA>  1.735200e+09         <NA>
3         <NA>         <NA>         <NA>  1.835100e+09         <NA>
4         <NA>         <NA>         <NA>  1.914000e+09         <NA>

   A108285647L  A108299591W  A108272151T  A108281041W  A108294684T  \
0          NaN          NaN          NaN         <NA>  192500000.0
1          NaN          NaN          NaN         <NA>  189300000.0
2          NaN          NaN          NaN         <NA>  156500000.0
3          NaN          NaN          NaN         <NA>  228400000.0
4          NaN          NaN          NaN         <NA>  229500000.0

   A108271948J
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560116 latest publication date: 01-Jul-2021
df:
              Title A108299732R A108267392K A108281070J A108285725J  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108285683W A108290072F A108271893K A108294748T A108299731L A108267391J  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108281069X A108285724F A108285682V A108290071C A108271892J A108294747R
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108299732R  A108267392K  A108281070J  A108285725J  A108285683W  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108290072F  A108271893K  A108294748T  A108299731L  A108267391J  \
0         <NA>         <NA>         <NA>  904200000.0         <NA>
1         <NA>         <NA>         <NA>  911200000.0         <NA>
2         <NA>         <NA>         <NA>  872800000.0         <NA>
3         <NA>         <NA>         <NA>  899900000.0         <NA>
4         <NA>         <NA>         <NA>  833600000.0         <NA>

   A108281069X  A108285724F  A108285682V  A108290071C  A108271892J  \
0          NaN          NaN         <NA>          NaN  114700000.0
1          NaN          NaN         <NA>          NaN  100700000.0
2          NaN          NaN         <NA>          NaN   79900000.0
3          NaN          NaN         <NA>          NaN  120200000.0
4          NaN          NaN         <NA>          NaN  114100000.0

   A108294747R
0         <NA>
1         <NA>
2         <NA>
3         <NA>
4         <NA>
560117 latest publication date: 01-Jul-2021
df:
              Title A108272299L A108272005V A108267511R A108295000K  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108290170K A108281028C A108276541W A108271942V A108272298K A108272004T  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108267510L A108294999K A108290169A A108281027A A108276540V A108271941T
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108272299L  A108272005V  A108267511R  A108295000K  A108290170K  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108281028C  A108276541W  A108271942V  A108272298K  A108272004T  \
0         <NA>         <NA>         <NA>  815900000.0          NaN
1         <NA>         <NA>         <NA>  816000000.0          NaN
2         <NA>         <NA>         <NA>  841100000.0          NaN
3         <NA>         <NA>         <NA>  836600000.0          NaN
4         <NA>         <NA>         <NA>  850400000.0          NaN

   A108267510L  A108294999K  A108290169A  A108281027A  A108276540V  \
0          NaN          NaN          NaN          NaN   69900000.0
1          NaN          NaN          NaN          NaN   66600000.0
2          NaN          NaN          NaN          NaN   55400000.0
3          NaN          NaN          NaN          NaN   81900000.0
4          NaN          NaN          NaN          NaN   81500000.0

   A108271941T
0         <NA>
1         <NA>
2         <NA>
3         <NA>
4         <NA>
560118 latest publication date: 01-Jul-2021
df:
              Title A108272257R A108267350L A108285620L A108294958R  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108276821R A108294783X A108267252J A108280916J A108272256L A108267349C  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108285619C A108294957L A108276820L A108294782W A108267251F A108280915F
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108272257R  A108267350L  A108285620L  A108294958R  A108276821R  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108294783X  A108267252J  A108280916J  A108272256L  A108267349C  \
0         <NA>         <NA>         <NA>  195600000.0         <NA>
1         <NA>         <NA>         <NA>  178500000.0         <NA>
2         <NA>         <NA>         <NA>  177500000.0         <NA>
3         <NA>         <NA>         <NA>  189600000.0         <NA>
4         <NA>         <NA>         <NA>  219600000.0         <NA>

   A108285619C  A108294957L  A108276820L  A108294782W  A108267251F  \
0          NaN         <NA>         <NA>         <NA>   11600000.0
1          NaN         <NA>         <NA>         <NA>   16800000.0
2          NaN         <NA>         <NA>         <NA>   13100000.0
3          NaN         <NA>         <NA>         <NA>   16200000.0
4          NaN         <NA>         <NA>         <NA>   14500000.0

   A108280915F
0         <NA>
1         <NA>
2         <NA>
3         <NA>
4         <NA>
560119 latest publication date: 01-Jul-2021
df:
              Title A108267742X A108267364A A108276758K A108276877A  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108299508W A108290044W A108289918A A108280930C A108267741W A108267363X  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108276757J A108276876X A108299507V A108290043V A108289917X A108280929V
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

df_fmt:
        Date  A108267742X  A108267364A  A108276758K  A108276877A  A108299508W  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108290044W  A108289918A  A108280930C  A108267741W  A108267363X  \
0         <NA>         <NA>         <NA>  318500000.0         <NA>
1         <NA>         <NA>         <NA>  301600000.0         <NA>
2         <NA>         <NA>         <NA>  267100000.0         <NA>
3         <NA>         <NA>         <NA>  312800000.0         <NA>
4         <NA>         <NA>         <NA>  304700000.0         <NA>

   A108276757J  A108276876X  A108299507V  A108290043V  A108289917X  \
0          NaN          NaN          NaN         <NA>   23900000.0
1          NaN          NaN          NaN         <NA>   22500000.0
2          NaN          NaN          NaN         <NA>   21900000.0
3          NaN          NaN          NaN         <NA>   22800000.0
4          NaN          NaN          NaN         <NA>   17700000.0

   A108280929V
0         <NA>
1         <NA>
2         <NA>
3         <NA>
4         <NA>
560120 latest publication date: 01-Jul-2021
df:
              Title A108290303C A108267357C A108272068C A108290198L  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108281119K A108290037X A108271879R A108276597J A108290302A A108267356A  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108272067A A108290197K A108281118J A108290036W A108271878L A108276596F
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108290303C  A108267357C  A108272068C  A108290198L  A108281119K  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108290037X  A108271879R  A108276597J  A108290302A  A108267356A  \
0         <NA>         <NA>         <NA>   27600000.0         <NA>
1         <NA>         <NA>         <NA>   27100000.0         <NA>
2         <NA>         <NA>         <NA>   30000000.0         <NA>
3         <NA>         <NA>         <NA>   30000000.0         <NA>
4         <NA>         <NA>         <NA>   34700000.0         <NA>

   A108272067A  A108290197K  A108281118J  A108290036W  A108271878L  \
0         <NA>         <NA>         <NA>         <NA>    2100000.0
1         <NA>         <NA>         <NA>         <NA>    2700000.0
2         <NA>         <NA>         <NA>         <NA>    3700000.0
3         <NA>         <NA>         <NA>         <NA>    3400000.0
4         <NA>         <NA>         <NA>         <NA>    1100000.0

   A108276596F
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560121 latest publication date: 01-Jul-2021
df:
              Title A108267763K A108267406L A108276793T A108290226K  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108294930L A108299424L A108271900W A108276639V A108267762J A108267405K  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108276792R A108290225J A108294929C A108299423K A108271899X A108276638T
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108267763K  A108267406L  A108276793T  A108290226K  A108294930L  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108299424L  A108271900W  A108276639V  A108267762J  A108267405K  \
0         <NA>         <NA>         <NA>   10100000.0         <NA>
1         <NA>         <NA>         <NA>   11800000.0         <NA>
2         <NA>         <NA>         <NA>   11500000.0         <NA>
3         <NA>         <NA>         <NA>   15400000.0         <NA>
4         <NA>         <NA>         <NA>   13100000.0         <NA>

   A108276792R  A108290225J  A108294929C  A108299423K  A108271899X  \
0         <NA>         <NA>         <NA>         <NA>    1000000.0
1         <NA>         <NA>         <NA>         <NA>    1300000.0
2         <NA>         <NA>         <NA>         <NA>    3700000.0
3         <NA>         <NA>         <NA>         <NA>    1100000.0
4         <NA>         <NA>         <NA>         <NA>    1600000.0

   A108276638T
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560122 latest publication date: 01-Jul-2021
df:
              Title A108295077J A108267371X A108276772F A108281168F  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108294895T A108299410X A108280874W A108294713T A108295076F A108267370W  \
0      Number      Number      Number      Number  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108276771C A108281167C A108294894R A108299409R A108280873V A108294712R
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1
df_fmt:
        Date  A108295077J  A108267371X  A108276772F  A108281168F  A108294895T  \
0 2002-07-01         <NA>         <NA>         <NA>         <NA>         <NA>
1 2002-08-01         <NA>         <NA>         <NA>         <NA>         <NA>
2 2002-09-01         <NA>         <NA>         <NA>         <NA>         <NA>
3 2002-10-01         <NA>         <NA>         <NA>         <NA>         <NA>
4 2002-11-01         <NA>         <NA>         <NA>         <NA>         <NA>

   A108299410X  A108280874W  A108294713T  A108295076F  A108267370W  \
0         <NA>         <NA>         <NA>   58400000.0         <NA>
1         <NA>         <NA>         <NA>   58800000.0         <NA>
2         <NA>         <NA>         <NA>   68300000.0         <NA>
3         <NA>         <NA>         <NA>   78200000.0         <NA>
4         <NA>         <NA>         <NA>   75800000.0         <NA>

   A108276771C  A108281167C  A108294894R  A108299409R  A108280873V  \
0         <NA>         <NA>         <NA>         <NA>    7600000.0
1         <NA>         <NA>         <NA>         <NA>    6900000.0
2         <NA>         <NA>         <NA>         <NA>    2900000.0
3         <NA>         <NA>         <NA>         <NA>    6700000.0
4         <NA>         <NA>         <NA>         <NA>    5500000.0

   A108294712R
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
560123 latest publication date: 01-Jul-2021
df:
              Title A108299886F A108295203K A108285956T A108299851F  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108290415W A108281343C A108272390A A108281385A A108285942C A108299885C  \
0      Number      Number      Number      Number      Number  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108295202J A108285955R A108299850C A108290414V A108281342A A108272389T  \
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108281384X A108285941A
0  $ Millions  $ Millions
1    Original    Original
2        FLOW        FLOW
3       Month       Month
4           1           1

df_fmt:
        Date  A108299886F  A108295203K  A108285956T  A108299851F  A108290415W  \
0 2019-07-01         9598         2541         3122         1773          518
1 2019-08-01         9663         2498         3113         1796          528
2 2019-09-01         9389         2434         2906         1854          543
3 2019-10-01        10448         2618         3424         2049          592
4 2019-11-01        10731         2821         3514         1983          570

   A108281343C  A108272390A  A108281385A  A108285942C   A108299885C  \
0         1219         <NA>         <NA>          212  3.871800e+09
1         1248         <NA>         <NA>          206  3.938900e+09
2         1162         <NA>         <NA>          220  3.829800e+09
3         1259         <NA>         <NA>          238  4.270100e+09
4         1266          211           74          292  4.541200e+09

    A108295202J   A108285955R  A108299850C  A108290414V  A108281342A  \
0  1.217800e+09  1.289700e+09    622200000    170900000    416500000
1  1.228100e+09  1.291900e+09    645500000    169500000    427000000
2  1.193900e+09  1.228600e+09    658300000    173700000    398000000
3  1.299900e+09  1.434000e+09    735200000    192600000    430300000
4  1.426500e+09  1.537700e+09    734800000    191000000    439900000

   A108272389T  A108281384X  A108285941A
0         <NA>         <NA>   85200000.0
1         <NA>         <NA>   89900000.0
2         <NA>         <NA>   95300000.0
3         <NA>         <NA>   98700000.0
4     60800000     25500000  125000000.0
560124 latest publication date: 01-Jul-2021
df:
              Title A108271214W A108271207X A108298654A A108298647C  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108298612C A108280335K A108271179A A108266545V A108275841F  ...  \
0      Number      Number      Number      Number      Number  ...
1    Original    Original    Original    Original    Original  ...
2        FLOW        FLOW        FLOW        FLOW        FLOW  ...
3       Month       Month       Month       Month       Month  ...
4           1           1           1           1           1  ...

  A108301860J A108292360K A108283246L A108292332A A108283225A A108287866X  \
0      Number  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1       Trend       Trend       Trend       Trend       Trend       Trend
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108297204X A108287873W A108278801T A108301859X
0  $ Millions  $ Millions  $ Millions  $ Millions
1       Trend       Trend       Trend       Trend
2        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month
4           1           1           1           1

[5 rows x 55 columns]
df_fmt:
        Date  A108271214W  A108271207X  A108298654A  A108298647C  A108298612C  \
0 2002-07-01         9597         2620         2354         2272          678
1 2002-08-01         8540         2344         2085         1991          618
2 2002-09-01         7645         2114         1823         1860          571
3 2002-10-01         8365         2150         1990         2079          603
4 2002-11-01         7869         2086         1888         1928          559

   A108280335K  A108271179A  A108266545V  A108275841F   A108271213V  \
0         1259          234           55          124  1.597600e+09
1         1067          257           72          106  1.456100e+09
2          915          180           56          126  1.323800e+09
3         1091          260           50          141  1.451500e+09
4         1007          212           46          143  1.371600e+09

   A108271206W  A108298653X  A108298646A  A108298611A  A108280334J  \
0  567800000.0  401500000.0  332000000.0   79200000.0  167500000.0
1  516100000.0  360200000.0  306000000.0   77300000.0  143100000.0
2  477700000.0  326800000.0  278900000.0   68900000.0  124400000.0
3  490900000.0  357400000.0  321800000.0   76700000.0  146700000.0
4  465700000.0  340100000.0  300700000.0   71600000.0  136100000.0

   A108271178X  A108266544T  A108275840C
0   18800000.0    7700000.0   23000000.0
1   21600000.0    9800000.0   22200000.0
2   15100000.0    7900000.0   24100000.0
3   22600000.0    7500000.0   27900000.0
4   19800000.0    7700000.0   29900000.0
560125 latest publication date: 01-Jul-2021
df:
              Title A108294615L A108289876R A108280832X A108294608R  \
0              Unit      Number      Number      Number      Number
1       Series Type    Original    Original    Original    Original
2         Data Type        FLOW        FLOW        FLOW        FLOW
3         Frequency       Month       Month       Month       Month
4  Collection Month           1           1           1           1

  A108271816F A108276471A A108276457F A108289869T A108294594L A108294614K  \
0      Number      Number      Number      Number      Number  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108289875L A108280831W A108294607L A108271815C A108276470X A108276456C  \
0  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions  $ Millions
1    Original    Original    Original    Original    Original    Original
2        FLOW        FLOW        FLOW        FLOW        FLOW        FLOW
3       Month       Month       Month       Month       Month       Month
4           1           1           1           1           1           1

  A108289868R A108294593K
0  $ Millions  $ Millions
1    Original    Original
2        FLOW        FLOW
3       Month       Month
4           1           1
df_fmt:
        Date  A108294615L  A108289876R  A108280832X  A108294608R  A108271816F  \
0 2019-07-01          609          261          188           92           26
1 2019-08-01          585          218          159          101           32
2 2019-09-01          502          224          141           65           22
3 2019-10-01          558          232          131           78           51
4 2019-11-01          552          214          173           80           26

   A108276471A  A108276457F  A108289869T  A108294594L  A108294614K  \
0           19         <NA>         <NA>           17  270000000.0
1           46         <NA>         <NA>           12  269200000.0
2           31         <NA>         <NA>           10  236000000.0
3           45         <NA>         <NA>           16  267200000.0
4           35            6            4           14  270900000.0

   A108289875L  A108280831W  A108294607L  A108271815C  A108276470X  \
0  135200000.0   79000000.0     31100000    8600000.0      7100000
1  120000000.0   69500000.0     35800000   12200000.0     15000000
2  122700000.0   65500000.0     21500000    6900000.0     12700000
3  134500000.0   62200000.0     32400000   17000000.0     14200000
4  127100000.0   83900000.0     33400000    7800000.0     10400000

   A108276456C  A108289868R  A108294593K
0         <NA>         <NA>      7900000
1         <NA>         <NA>      7300000
2         <NA>         <NA>      3900000
3         <NA>         <NA>      5900000
4      1600000      1400000      5300000
560126 latest publication date: 01-Jul-2021
df:
              Title A108289120R A108289119F
0              Unit      Number  $ Millions
1       Series Type    Original    Original
2         Data Type        FLOW        FLOW
3         Frequency       Month       Month
4  Collection Month           1           1
df_fmt:
        Date  A108289120R  A108289119F
0 2019-07-01          286  136300000.0
1 2019-08-01          300  178500000.0
2 2019-09-01          283  141900000.0
3 2019-10-01          350  206800000.0
4 2019-11-01          311  200000000.0

In [51]:
file_dict['RBA']['Credit Card Data - Australia']['Import_Data']

,Date,CCCCSNAP,CCCCSTTVP,CCCCSBAIP,CCCCSBTP,CCCCSCLP
0,2002-01-31,9658203.0,8.696924e+09,8.486701e+09,1.931920e+10,5.387871e+10
1,2002-02-28,9677063.0,8.482042e+09,8.635934e+09,1.971835e+10,5.419254e+10
2,2002-03-31,9617487.0,8.536180e+09,8.664050e+09,1.959875e+10,5.390049e+10
3,2002-04-30,9527406.0,9.089885e+09,8.888833e+09,1.960082e+10,5.445817e+10
4,2002-05-31,9598326.0,9.804595e+09,8.864019e+09,2.004081e+10,5.511777e+10
...,...,...,...,...,...,...
230,2021-03-31,12644279.0,2.383393e+10,2.002319e+10,3.459052e+10,1.207665e+11
231,2021-04-30,12585729.0,2.122782e+10,1.996107e+10,3.426842e+10,1.201296e+11
232,2021-05-31,12545353.0,2.225238e+10,2.006069e+10,3.431089e+10,1.198754e+11
233,2021-06-30,12516182.0,2.205499e+10,2.000869e+10,3.422343e+10,1.192444e+11
234,2021-07-31,12472066.0,1.953003e+10,1.890294e+10,3.155914e+10,1.186544e+11

In [52]:
# Save the imported data
pickle_save('imported_data_initial',file_dict)

# Load the imported data
#file_dict = pickle_load('imported_data_initial')

In [53]:
#############################################################

# Section: Combine ABS Tables

#############################################################

# variable_dict: match terms used to define the variables

variable_dict = {
    
    'RBA' : {
        'measure_type' : {
            'list' : ['number of accounts', 'total value of transactions', 'balances accruing interest',
                      'total balances', 'credit limits'],
            'alias' : {
                'number of accounts' : 'accounts',
                'total value of transactions' : 'transaction value',
                'balances accruing interest' : 'interest balance',
                'total balances' : 'balance',
                'credit limits' : 'limits'
            }
        }
    },
    'ABS' : {
        'location' : {
            'list' : ['new south wales', 'victoria', 'queensland', 'south australia', 'western australia', 
                      'tasmania', 'northern territory', 'australian capital territory'],
            'alias' : {
                'new south wales' : 'NSW',
                'victoria' : 'VIC', 
                'queensland' : 'QLD',
                'south australia' : 'SA',
                'western australia' : 'WA',
                'tasmania' : 'TAS', 
                'northern territory' : 'NT', 
                'australian capital territory' : 'ACT',
                'all' : 'AUS' # default
            }
        },
        'lender_type' : {
            'list' : ['major banks', 'other adis', 'non-adis'],
        },
        'buyer_type' : {
            'list' : ['owner occupier', 'investor', 'non-resident']
        },
        'buyer_subtype' : {
            'list' : ['first home buyer']
        },
        'measure_type' : {
            'list' : ['total housing excluding refinancing', 'internal refinancing', 'external refinancing',
                     'construction of dwellings', 'purchase of newly erected dwellings',
                     'purchase of existing dwellings', 'purchase of residential land',
                     'alterations, additions and repairs', 'total housing including refinancing'],
            'alias' : {
                'total housing excluding refinancing' : 'total_exc_refi', 
                'internal refinancing' : 'int_refi', 
                'external refinancing' : 'ext_refi',
                'construction of dwellings' : 'construction', 
                'purchase of newly erected dwellings' : 'purchase_new',
                'purchase of existing dwellings' : 'purchase_existing', 
                'purchase of residential land' : 'purchase_land',
                'alterations, additions and repairs' : 'renovations', 
                'total housing including refinancing' : 'total'
            }
        },
        'measure_subtype' : {
            'list' : ['value', 'number']
        }
    }
}

In [54]:
# table_structure_dict: contains the variable structure for each table
table_structure_dict = {}

for source in file_dict:
    table_structure_dict[source] = {}

    for key in file_dict[source]:   
        
        table_structure_dict[source][key] = {}

        lookup = file_dict[source][key]['Lookup']
        
        file_ref = file_dict[source][key]['Metadata']['dl_name']

        for seriesloop in lookup['Series ID'].tolist():

            table_structure_dict[source][key][seriesloop] = {}
            
            table_structure_dict[source][key][seriesloop]['file_ref'] = file_ref

            desclist = lookup.loc[lookup['Series ID'] == seriesloop, 'Description'].values[0].lower()

            for var in variable_dict[source]:
                
                searchlist = variable_dict[source][var]['list']

                if match(searchlist, desclist) == []:
                    if var == 'measure_type':
                        output = 'total housing excluding refinancing'
                    else:
                        output = 'all'
                else: 
                    output = match(searchlist, desclist)[0]
                
                if 'alias' in variable_dict[source][var].keys():
                    table_structure_dict[source][key][seriesloop][var] = variable_dict[source][var]['alias'][output]
                else:
                    table_structure_dict[source][key][seriesloop][var] = output

In [55]:
#############################################################

# Section: Aggregate imported tables to final state

#############################################################

# Final_table_dict: contains the final aggregated dataframes that are used for visualisation/ analysis
final_table_dict = {}

for source in table_structure_dict:
    j = 0
    
    final_table_dict[source] = {}
    
    # ABS data is combined into a master table with a single measure column
    if source == 'ABS':  
        
        # Initalise empty list to store a dataframe per file
        df_master_list = [None] * len(table_structure_dict[source])

        for key in table_structure_dict[source]:

            df = file_dict[source][key]['Import_Data']
            df = df[df['Date'] >= '2020-01-01'] # Just for testing
            df = df.melt(id_vars=["Date"])
            
            # Initalise empty list to store a dataframe per series
            df_list = [None] * len(table_structure_dict[source][key]) 
            
            i = 0

            for series in table_structure_dict[source][key]:
                
                df_loop = df.loc[df['variable']==series,]
                #df_loop['filename'] = final_table_dict[source][key]['Metadata']['dl_name']

                for n in table_structure_dict[source][key][series]:
                    df_loop.loc[:, n] = table_structure_dict[source][key][series][n]

                    if n == 'variable':
                        df_loop.loc[:, table_structure_dict[source][key][series][n]] = df_loop['value']
                    else:  
                        df_loop.loc[:, n] = table_structure_dict[source][key][series][n]

                    df_loop = df_loop.rename(columns={'All':'total housing excluding refinancing'})
                
                df_list[i] = df_loop

                i = i + 1

            df_master_list[j] = pd.concat(df_list)

            j = j + 1

        final_table_dict[source]['Final_Data'] = pd.concat(df_master_list)
                                              
    # Data in RBA CC data has multiple columns
    elif source == 'RBA':     
        
        for key in table_structure_dict[source]:
            df = file_dict[source][key]['Import_Data']
            df
            
            for series in table_structure_dict[source][key]:
                
                df = df.rename({series:table_structure_dict[source][key][series]['measure_type']}, axis=1)

        # Will need to edit this step if further RBA data is imported
        final_table_dict[source]['Final_Data'] = df

In [58]:
# Save the final imported tables for use
pickle_save('imported_data_final',final_table_dict)

In [59]:
write_path = './Output/ABS_Lending_Indicators.csv'

# New code: Export the final table as a CSV
output_df = final_table_dict['ABS']['Final_Data']
# A number of the Series are present in multiple files so must be deduped
output_df = output_df.drop_duplicates(subset=['Date', 'variable', 'value', 'location', 'lender_type', 'buyer_type' \
                                               ,'buyer_subtype','measure_type','measure_subtype'])

# Pivot table to separate # and $
output_df = output_df.pivot_table(index=['Date', 'location', 'lender_type', 'buyer_type','buyer_subtype' \
                                         ,'measure_type'],
                                  columns='measure_subtype',
                                 values='value', aggfunc='sum').reset_index()
# Aggregate new table
output_df = output_df.groupby(['Date', 'location', 'lender_type', 'buyer_type','buyer_subtype' \
                            ,'measure_type']).agg({'number':sum, 'value':sum}).reset_index()

output_df.to_csv(write_path, index=False)